html {
  box-sizing: border-box;
  background-color: #eee9de;
  color: #333;
  font-family: Lato, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  text-align: center;
}

section {
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
}

div {
  padding: 1em;
}

.image {
  display: inline-block;
  max-width: 25em;
  vertical-align: middle;
}

img {
  display: block;
  width: 100%;
}

h2 {
  display: inline-block;
  margin: 0;
}

p {
  display: inline-block;
}

.text {
  padding: 0 .75em;
  margin: 0 1.5rem;
  display: inline-block;
  max-width: 25em;
  text-align: left;
  vertical-align: middle;
}

.btn {
  text-decoration: none;
  display: inline-block;
  color: #666;
  border: 3px solid #333;
  border-radius: 8px;
  padding: .5em;
}

a:hover {
  background-color: #666;
  border-color: #666;
  color: #fff;
}
